<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuutom.userapi.repository.UserMapper">

    <insert id="insert">
        INSERT INTO "user" (USER_ID, PASSWORD, NICKNAME) VALUES (#{userId}, #{password}, #{nickname})
    </insert>

    <delete id="delete">
        DELETE FROM "user"
        WHERE user_id = #{userId}
        AND password = #{password}
    </delete>

    <update id="update">
        UPDATE "user"
        SET
        nickname =
        <choose>
            <when test="nickname != null and nickname != ''">
                #{nickname}
            </when>
            <when test="nickname == ''">
                #{userId}
            </when>
            <otherwise>
                nickname
            </otherwise>
        </choose>,
        comment =
        <choose>
            <when test="comment != null">
                #{comment}
            </when>
            <otherwise>
                comment
            </otherwise>
        </choose>
        WHERE user_id = #{userId} AND password = #{password}
    </update>

    <select id="findById" resultType="com.yuutom.userapi.entity.User">
        SELECT
            USER_ID,
            PASSWORD,
            NICKNAME,
            COMMENT
        FROM
            "user"
        WHERE
            USER_ID = #{userId}
    </select>
</mapper>
